<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
      <% blog.errors.full_messages.each do |message| %>
        <%= alert_generator message %>
      <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :topic_id %>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                              {
                                selected: blog.topic.id,
                                include_blank: true
                              },
                              class: 'form-control'
                            )
    %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :blog_body, class: 'form-control', rows: 10 %>
  </div>

  
  <div class="form-group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
